[Desktop Entry]
##  The name of the application ##
Name=Groucho
GenericName=AI Image Generator
 
## A comment which act as a tooltip ##
Comment=Generate AI images using your own computer
 
## The executable of the application with optional args ##
## You can state full path too ##
Exec=groucho
 
## State the name of the icon that will be used to display this entry ##
Icon=groucho
 
## Is it a terminal app? For example htop will be set as Terminal=True ##
## Then default terminal app will be used to open the 'htop' ##
Terminal=false
 
##  The type as listed  ##
Type=Application
